/*---------- Variables ----------*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
}

/*---------- Fonts ----------*/

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       local("OpenSans"),
       url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
       local("OpenSansLight"),
       url("fonts/opensanslight.woff2") format("woff2"),
       url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*---------- Global ----------*/

body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/*---------- INDEX PAGE ----------*/

/*---------- Header ----------*/

/*----- Main navigation -----*/

.main-navigation {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.main-navigation a {
  color: var(--basic-black)
}

.main-navigation-wrapper {
  width: 1160px;
  min-height: 186px;
  background-color: var(--special-yellow);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-link {
  letter-spacing: 0.1em;
}

.site-navigation-catalog {
  display: none;
}

.logo:hover,
.main-navigation a:hover,
.site-navigation a:hover,
.search-field:hover {
  opacity: 0.6
}

.logo:active,
.main-navigation a:active,
.site-navigation a:active {
  opacity: 0.3
}

/*----- Search -----*/

.search-button {
  width: 84px;
  height: 50px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  border: 2px solid;
  border-color: var(--basic-black);
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-black);
}

.search-form .search-button {
  visibility: hidden;
}

.search-form:hover .search-button {
  visibility: visible;
}

.search-field {
  height: 50px;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
  outline: none;
}

.search-field:focus {
  opacity: 1;
}

/*---------- Main slider ----------*/

.main-slider-slide2,
.main-slider-slide3 {
  display: none;
}

/*---------- Services ----------*/

.services-warranty-slide,
.services-credit-slide {
  display: none;
}

/*---------- Index columns ----------*/

.index-columns h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.index-columns a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.index-columns a:active {
  opacity: 0.3;
}

/*---------- About us ----------*/

.about-us li {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
}

/*---------- Footer ----------*/

.footer-container {
  min-width: 1440px;
  min-height: 324px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  line-height: 20px;
}

.footer-container a {
  color: var(--basic-white);
}

.footer-menu a {
  opacity: 0.7;
}

.footer-menu a:hover {
  opacity: 1;
}

.footer-menu a:active {
  opacity: 0.3;
}

.footer-services,
.socials {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.socials a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.socials a:hover {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

.social-facebook {
  background-image: url("../img/fb.svg");
}

.social-instagram {
  background-image: url("../img/instagram.svg");
}

.social-twitter {
  background-image: url("../img/twitter.svg");
}

/*---------- Popups ----------*/

.popup-write-us,
.popup-map {
  display: none;
}

/*---------- CATALOG PAGE ----------*/

.breadcrumbs-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs li {
  list-style: none;
  opacity: 0.3;
}

.breadcrumbs li:hover {
  opacity: 0.6;
}

.breadcrumbs li:active {
  opacity: 0.1;
}

/*---------- Filter ----------*/

.filter-block {
  border: none;
}

.filter-block legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.sorting-title,
.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-block li {
  list-style: none;
}

/*---------- Catalog ----------*/

.catalog-list li {
  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-list p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item img:hover {
  opacity: 0.7;
}

.button-to-basket {
  border: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

.button-compare:hover {
  opacity: 0.1;
}

.button-compare:active {
  opacity: 0.2;
}

.button-to-basket,
.button-compare {
  display: none;
}

/*---------- Pagination ----------*/

.pagination-container {
  min-width: 760px;
  min-height: 70px;
  background-color: var(--basic-grey-light);
}

.pagination-buttons {
  min-width: 120px;
  min-height: 70px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  background: none;
  border: none;
  outline: none;
}

.pagination-buttons:hover {
  outline: none;
  background-color: #D9D9D9;
}

.pagination-buttons:active {
  outline: none;
  background-color: #D9D9D9;
  opacity: 0.3;
}

.pagination-pages {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-1 {
  opacity: 1;
}
