/*---------- Variables ----------*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
}

/*---------- Fonts ----------*/

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       local("OpenSans"),
       url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
       local("OpenSansLight"),
       url("fonts/opensanslight.woff2") format("woff2"),
       url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/*---------- Global ----------*/

body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page li {
  list-style: none;
}

/*---------- INDEX PAGE ----------*/

/*---------- Grid ----------*/

.page {
  height: 100%;
}

.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*---------- Header ----------*/

/*----- Main navigation -----*/

.main-navigation {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

.main-navigation a {
  color: var(--basic-black)
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 1160px;
  min-height: 186px;
  background-color: var(--special-yellow);
}

.site-navigation {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

header .site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-left: 20px;
  margin-right: 60px;
  width: 1040px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}

.catalog-link {
  letter-spacing: 0.1em;
}

.site-navigation-catalog {
  display: none;
}

header .logo {
  margin-left: 60px;
}

.logo:hover,
.main-navigation a:hover,
.site-navigation a:hover,
.search-field:hover {
  opacity: 0.6
}

.logo:active,
.main-navigation a:active,
.site-navigation a:active {
  opacity: 0.3
}

.logout-link {
  opacity: 0.3;
}

/*----- Search -----*/

.search-form {
  margin-left: 100px;
  font-size: 0;
}

.search-button {
  width: 84px;
  height: 50px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  border: 2px solid;
  border-color: var(--basic-black);
}

.search-form .search-button {
  visibility: hidden;
}

.search-field:focus + .search-button {
  visibility: visible;
}

.search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active {
  visibility: visible;
  color: rgba(255,255,255,0.3);
  outline: none;
  background-color: var(--basic-black);
}

.search-field {
  width: 390px;
  height: 50px;
  border: 0;
  background-color: transparent;
  font-size: 15px;
  opacity: 0.3;
  outline: none;
  vertical-align: bottom;
}

.search-field:focus {
  border-bottom: 2px solid var(--basic-black);
  opacity: 1;
}

/*---------- Buttons ----------*/

.button {
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  z-index: 2;
  border: none;
  outline: none;
}

.button span {
  position: relative;
  line-height: 40px;
  z-index: 2;
}

.button:before {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  background-color: var(--special-yellow-dark);
}

.button:hover:before {
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*---------- Main slider ----------*/

.main-slider-slide2,
.main-slider-slide3 {
  display: none;
}

.main-slider li {
  list-style: none;
}

.main-slider p {
  line-height: 20px;
}

.main-slider-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.main-slider-button {
  width: 220px;
}

.main-slider-characteristics {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.main-slider-description {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
/*---------- Popular ----------*/
.popular li {
  list-style: none;
}

.popular a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.popular-item-wrapper {
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.popular-item-wrapper:hover {
  background-color: var(--special-yellow-dark);
}

.popular-item-wrapper:active img {
  opacity: 0.3;
}

/*---------- Services ----------*/

.services-warranty-slide,
.services-credit-slide {
  display: none;
}

.services {
  width: 100%;
  min-height: 288px;
  background-color: var(--basic-grey-light);
}

.services p {
  letter-spacing: 0.1em;
}

.services-button {
  width: 160px;
}

.active-services-button {
  width: 280px;
  text-align: left;
  color: var(--special-yellow);
}

.active-services-button:before {
  width: 100%;
  height: 100%;
  background-color: var(--basic-black);
}

/*---------- Brands ----------*/

.brands li {
  list-style: none;
}

.brands img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.brands img:hover {
  filter: none;
  opacity: 1;
}

/*---------- Index columns ----------*/

.index-columns h2,
.services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.index-columns a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.index-columns {
  display: grid;
  grid-template-columns: 473px 560px;
  column-gap: 127px;
  justify-content: center;
}


/*---------- About us ----------*/

.about-us li {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.button-about,
.button-contacts {
  width: 260px;
}

.about-us {
  width: 473px;
}

/*---------- Contacts ----------*/

.contacts {
  width: 473px;
}

/*---------- Footer ----------*/

.footer-container {
  width: 100%;
  min-height: 324px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  line-height: 20px;
}

.footer-container a {
  color: var(--basic-white);
}

.footer-wrapper {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.footer-row {
  display: flex;
  margin-right: 63px;
  justify-content: space-between;
}

.device-logo {
  justify-content: flex-start;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 0;
  margin-top: 46px;
}

.footer-menu {
 display: flex;
 flex-wrap: wrap;
 margin-left: auto;
 margin-top: 46px;
}

.footer-menu a {
  margin-right: 63px;
  opacity: 0.7;
}

.footer-menu a:last-child {
  margin-right: 0;
}

.footer-menu a:hover {
  opacity: 1;
}

.footer-menu a:active {
  opacity: 0.3;
}

.adress {
  margin-top: 40px;
  width: 220px;
}

.footer-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.footer-services li {
  margin-right: 36px;
}

.footer-services li:last-child {
  margin-right: 0;
}

.tel {
  display: block;
  text-align: right;
  margin-left: auto;
}

.footer-services,
.socials-list {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.socials-list a {
  display: block;
  padding-right: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.socials-list li:last-child {
  padding-right: 0;
}

.socials-list a:hover {
  opacity: 0.6;
}

.socials-list a:active {
  opacity: 0.1;
}

.social-facebook {
  background-image: url("../img/fb.svg");
}

.social-instagram {
  background-image: url("../img/instagram.svg");
}

.social-twitter {
  background-image: url("../img/twitter.svg");
}

.logo-academy {
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 0;
  margin-left: auto;
}


/*---------- Popups ----------*/

.popup-write-us,
.popup-map {
  display: none;
}

/*---------- CATALOG PAGE ----------*/

.breadcrumbs-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs li {
  list-style: none;
  opacity: 0.3;
}

.breadcrumbs li:hover {
  opacity: 0.6;
}

.breadcrumbs li:active {
  opacity: 0.1;
}

/*---------- Filter & sorting ----------*/

.filter {
  width: 468px;
  min-height: 1214px;
  background-color: var(--basic-grey-light);
}

.filter-block {
  border: none;
}

.filter-block legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-submit-button,
.button-to-basket {
  width: 200px;
}

.sorting-title,
.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-title {
  min-width: 468px;
  min-height: 70px;
  background-color: #DCDCDC;
}

.filter-block li,
.sorting li {
  list-style: none;
}

.sorting-container {
  min-width: 972px;
  min-height: 70px;
  background-color: var(--basic-grey-light);
}

.sorting-option {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-option:hover {
  opacity: 0.6;
}

.sorting-option:active {
  opacity: 1;
}

.sorting-less-more {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-more-less {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.sorting-less-more:hover,
.sorting-more-less:hover {
  opacity: 0.4;
}

.sorting-less-more:active,
.sorting-more-less:active {
  opacity: 1;
}

/*---------- Catalog ----------*/

.catalog-list li {
  list-style: none;
}

.catalog-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-list p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item img:hover {
  opacity: 0.7;
}

.button-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  outline: none;
}

.button-compare:hover {
  opacity: 0.1;
}

.button-compare:active {
  opacity: 0.2;
}

.button-to-basket,
.button-compare {
  display: none;
}

/*---------- Pagination ----------*/

.pagination-container {
  width: 760px;
  min-height: 70px;
  background-color: var(--basic-grey-light);
}

.pagination-buttons {
  min-width: 120px;
  min-height: 70px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  background: none;
  border: none;
  outline: none;
}

.pagination-buttons:hover {
  outline: none;
  background-color: #D9D9D9;
}

.pagination-buttons:active {
  outline: none;
  background-color: #D9D9D9;
  opacity: 0.3;
}

.pagination-pages {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-active {
  opacity: 1;
}
